

// layout of the table 
#data
	width 100%
	margin-top 50px
	border 1px solid black

// laout of the data cells in the table
.data_item
	color blue
	border 1px dashed black
	text-align right
	width 10%

	 
 